@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.wrapper {
  display: flex;
  flex: 1;
  height: 100vh; //Temp
}

.mainSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stockNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 10%;
}

.stockPrice {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    font-size: 18px;
    color: #2ecca7;
  }
  &.dark-mode {
    color: #ffffff;
  }
}

.stockName {
  font-size: 36px;
  font-weight: variables.$font-bold;
  &.dark-mode {
    color: #D5E3E1;
  }
}

.preview {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  flex: 80%;
  @include mixins.breakpoint-down(xlarge) {
    display: flex;
    flex-wrap: wrap;
    .graph {
      // min-width: 100%;
      max-height: 40%;
    }
  }

  @include mixins.breakpoint-down(small) {
    display: flex;
    flex-wrap: wrap;
    .graph {
      min-width: 50%;
      flex-grow: 1;
      max-height: 40%;
    }
    iframe {
      min-width: 100%;
      flex-grow: 1;
      max-height: 100%;
    }
    // .buybox {
    //   min-width: 50%;
    //   max-height: 50%;
    // }
  }
}
.graph {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 60%;
  border-radius: 25px;
  @include mixins.breakpoint-down(xlarge) {
    width: 100%;
  }
}

/* Set the iframe width to 100% of its container */
iframe {
  width: 100%;
  height: 100%; /* or any percentage value based on its container's height */
}

.buybox {
  display: flex;
  flex: 40%;
}

.filter {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 10%;
  margin-top: 10px;
}
