@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px 30px;
  position: relative;
  background: variables.$golden;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 variables.$secondary-color, 24px 0 #fff;
  }
  66% {
    background: variables.$secondary-color;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 variables.$golden;
  }
}
