@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

// WRAPPER SECTION

.wrapper {
  @include mixins.flexbox($display: flex, $grow: 1);
}

// HERO SECTION
.mainSection {
  height: 100vh;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $direction: column,
    $shrink: 1
  );
}
.featured {
  @include mixins.flexbox(
    $display: flex,
    $gap: 1rem,
    $justifyContent: space-evenly,
    $grow: 1,
    $flex-basis: 25%,
    $shrink: 1,
    $wrap: wrap
  );
  background-color: variables.$light-yellow;
  border-radius: 25px;
  padding: 1.4rem;
}

.filter {
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $flex-basis: 10%,
    $shrink: 1
  );
}

.graph {
  height: 100%;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $flex-basis: 50%,
    $shrink: 1
  );
}
