@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

// WRAPPER SECTION

.wrapper {
  @include mixins.flexbox($display: flex, $grow: 1);
}

.mainSection {
  @include mixins.flexbox(
    $display: flex,
    $direction: column,
    $grow: 1,
    $shrink: 1
  );
}

// HERO SECTION
.featured {
  @include mixins.flexbox(
    $display: flex,
    $gap: 1rem,
    $justifyContent: space-evenly,
    $wrap: wrap
  );
  background-color: variables.$light-yellow;
  border-radius: 25px;
  padding: 1.4rem;
}

.filter {
  @include mixins.flexbox($display: flex, $gap: 1rem, $wrap: wrap);
}

.graph {
  @include mixins.flexbox($grow: 1);
  margin: 10px 0 10px 0;
}
