@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

// WRAPPER SECTION

.wrapper {
  @include mixins.flexbox($display: flex, $grow: 1);
}

// HERO SECTION
.heroSection {
  height: 90%;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $direction: column,
    $flex-basis: 90%,
    $shrink: 1
  );
}
.featured {
  @include mixins.flexbox(
    $display: flex,
    $gap: 1rem,
    $justifyContent: space-evenly,
    $grow: 1,
    $flex-basis: 40%,
    $shrink: 1
  );
  background-color: variables.$light-yellow;
  border-radius: 25px;
  padding: 1.4rem;
}

.filter {
  width: 100%;
  background-color: #d5e3e1;
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem 0rem;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $flex-basis: 10%,
    $shrink: 1
  );
}

.divider {
  width: 100%;
  height: 1px;
  background-color: variables.$secondary-color;
  margin: 1rem 0rem;
}

.graph {
  max-height: 50%;
  height: 100%;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $flex-basis: 50%,
    $shrink: 1
  );
}
