@use "../../../styles//variables.scss";
@use "../../../styles/mixins.scss";

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box; //box-sizing property allows us to include the padding and border in an element's total width and height.
  background: #ffffff;
  border: 1px solid #32543a;
  border-radius: 25px;

  min-width: 80%; //Temp Value for now
  padding: 0.9rem;

    /* Dark mode styles */
    &.dark-mode {
      background-color: #2A2C2E;
    }
}


//Styling for the Search Bar Text
input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
  padding-left: 2rem;
}

.search {
  background: url(../../../assets/icons/search-icon.svg) no-repeat left; //Search Icon
  height: 30px;
  //   padding: 20px 0px 20px 25px;
  text-transform:uppercase;

  /* Dark mode styles */
  &.dark-mode-search {
    background: url(../../../assets/icons/search-icon.svg) no-repeat left;
    filter: invert(100%);
  }
}


.searchResults {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 85px;
  z-index: 1;
  width: 30%;
  min-width: 250px;
  max-height: 500px;
  padding: 20px;
  overflow-y: auto;

  background: #ffffff;
  border: 1px solid #32543a;
  border-radius: 25px;

    /* Dark mode styles */
    &.dark-mode-results {
      background: #2A2C2E;
      color: #ffffff;
    }
}

.searchResults:empty {
  display:none;
}

.listResult {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 5px;
  color: inherit;

    /* Dark mode styles */
    &.dark-mode {
      color: #fff;
      background-color: #2A2C2E;
    }
    &.dark-mode:hover {
      color: #000;
      background-color: #d5e3e1;
    }
}

.listResult:hover{
  background-color: #ffee00;
  border-radius: 5px;
}
