@use "../../../styles/mixins.scss";
@use "../../../styles//variables.scss";

// CONTAINER / WRAPPER SECTION

.container {
  height: 100vh;
  width: 100vw;
  background-color: variables.$primary-color;
  // @include mixins.flexbox($display: flex);
  display: flex;
}

.wrapper {
  width: 100%;
  padding: 2.25rem 4.6875rem 0rem;
  position: absolute;
}

.nav {
  min-height: 3.125rem;
  max-height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.breakpoint-down(small) {
    justify-content: center;
  }
}

// .login {
//   margin: 0.7rem 0rem;
//   background-color: variables.$golden;
//   padding: 1rem 2rem;
//   font-size: 1.5rem;
//   font-weight: variables.$font-regular;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
//   box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
//   border-radius: 25px;
//   color: #fff;
//   transition: 0.3s ease-in-out;
//   &:hover {
//     background-color: variables.$secondary-color;
//   }
// }

.box {
  display: flex;
  flex-grow: 1;
  width: 100%;
  @include mixins.breakpoint-down(medium) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(166, 222, 207, 0.5),
        rgba(166, 222, 207, 0.5)
      ),
      url("../../../assets/bull.png");
    background-repeat: no-repeat;
  }
}

// IMAGE SECTION

.image {
  width: 60%;
  background-size: cover;
  height: 100%;
  background-image: url(../../../assets/bull.png);
  background-repeat: no-repeat;
  @include mixins.breakpoint-down(medium) {
    display: none;
    // width: 100%;
    // height: 50%;
    // background-position-y: 13%;
  }
}

// SIGNUP SECTION

.signup {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  // @include mixins.flexbox(
  //   $display: flex,
  //   $justifyContent: center,
  //   $alignItems: center,
  //   $direction: column,
  //   $grow: 1
  // );
  @include mixins.breakpoint-down(medium) {
    align-items: center;
    height: 100%;
    width: 50%;
  }
}

// CALL TO ACTION BUTTONS SECTION

.cta {
  width: 100%;
  margin-top: 2rem;
  // @include mixins.flexbox($display: flex, $direction: column);
  display: flex;
  flex-direction: column;
}

.loginLink {
  margin-top: 1rem;

  a {
    font-weight: variables.$font-bold;
    color: variables.$golden;
    transition: 0.3s ease-in-out;
    &:hover {
      color: variables.$green;
    }
  }
}

// SIGN IN FORM SECTION

.signinForm {
  width: 60%;
  // @include mixins.flexbox($display: flex, $direction: column);
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: variables.$font-lg;
    font-weight: variables.$font-bold;
    color: #203424;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: variables.$font-regular;
    color: variables.$green;
    margin: 1rem 0rem;
  }
  @include mixins.breakpoint-down(medium) {
    width: 100%;
    flex-grow: 1;
    margin-top: 2rem;
    justify-content: center;
  }
}

.trustDeviceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.trustDevice {
  visibility: visible !important;
  width: 1rem !important;
  height: 1rem !important;
}

.trustDeviceLabel {
  border: none;
}

// FOOTER SECTION

.footer {
  font-weight: variables.$font-light;
  color: variables.$green;
  font-size: 1.125rem;
  margin-top: 4rem;
  @include mixins.breakpoint-down(medium) {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
