@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  height: fit-content;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixins.breakpoint-down(xlarge) {
    .cta,
    .profile {
      display: none;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 16px;
  @include mixins.breakpoint-down(xlarge) {
    flex-grow: 0;
    flex-basis: 50%;
  }
  @include mixins.breakpoint-down(small) {
    flex-grow: 1;
  }
}

.cta {
  display: flex;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 1rem;
}

.profile {
  display: flex;
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 2rem;
  justify-content: flex-end;
  .notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: variables.$golden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    &.dark-mode {
      background-color: #A46128;;
    }
  }
}

.profileMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  top: 2.6%;
  width: 15rem;
  max-height: 13rem;
  z-index: 99;
  cursor: pointer;
  background-color: variables.$primary-color;
  border-radius: 25px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  &.dark-mode { //dark mode styles for profile menu
    background-color: #3A514E;
    .info {
      h4 {
        color: white;
      }
    }
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h4 {
      color: variables.$secondary-color;
      font-size: 1.5rem;
      font-weight: variables.$font-bold;
    }
  }

  .profileCta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
