@use "../../../styles/mixins.scss";
@use "../../../styles//variables.scss";

.container {
  width: 100%;
  border-radius: 25px;
  gap: 2.1875rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;

  @include mixins.breakpoint-down(large) {
    .tools,
    .settings,
    .timeBar {
      display: none;
    }
    .commonFilter {
      display: flex;
      margin: 1rem 0rem;
      width: 100%;
      background-color: variables.$primary-color;
      padding: 1rem 2rem;
      border-radius: 25px;
    }
  }
}

.tools,
.settings {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  svg {
    transition: 0.3s ease-in-out;
    max-width: 1.3rem;
    max-height: 1.3rem;
  }
}

.timeBar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80%;
}
.commonFilter {
  display: none;
}
