
@mixin boxShadow(){
  box-shadow: 3px 12px 18px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 12px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 12px 18px 0px rgba(0,0,0,0.75);
}



//* ======================== Flexbox Mixin ========================

@mixin flexbox(
  $display: flex,
  $direction: row,
  $placeContent: null,
  $placeItems: null,
  $wrap: nowrap,
  $shrink: 1, //Default flexbox values
  $grow: 0, //Default flexbox values
  $flex-basis: 0,
  $alignContent: null,
  $justifyContent: null,
  $alignItems: null,
  $justifyItems: null,
  $gap: null
) {
  
  display: $display;
  flex-direction: $direction;
  @if $placeContent == null {
    @if $alignContent {
      align-content: $alignContent;
    }
    @if $justifyContent {
      justify-content: $justifyContent;
    }
  } @else {
    place-content: $placeContent;
  }

  @if $placeItems == null {
    @if $alignItems {
      align-items: $alignItems;
    }
    @if $justifyItems {
      justify-items: $justifyItems;
    }
  } @else {
    place-items: $placeItems;
  }
  flex-wrap: $wrap;
  flex-shrink: $shrink;
  flex-grow: $grow;
  flex-basis: $flex-basis;
  gap: $gap;
}

//* ======================== Breakpoints Mixin ========================

//? MIN-WIDTH

//! ======= 640px, 1024px, 1400px ========
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
);

//? MAX-WIDTH

//! ===== 639px, 1023px, 1399px, 1430px ======
$breakpoints-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "75.4375em",
  "xlarge": "89.375em",
);

//?  apply breakpoint for an element with min-width, where size mentioned about in the MIN-WIDTH COMMENT

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

//?  apply breakpoint for an element with max-width, where size mentioned about in the MIN-WIDTH COMMENT

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
