//* ======================== Colors ========================

$primary-color: #d5e3e1;
$secondary-color: #37433a;
$light-yellow: #fbf2ea;
$light-red: #ceb0ac;
$golden: #c18e60;
$green: #3b6a46;
$default: #000;

//* ======================== Font-size ========================

$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 3rem;

//* ======================== Font-weight ========================

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
