@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

// WRAPPER SECTION

.wrapper {
  @include mixins.flexbox($display: flex, $grow: 1);
}

// HERO SECTION
.heroSection {
  height: 100%;
  @include mixins.flexbox(
    $display: flex,
    $grow: 1,
    $direction: column,
    $flex-basis: 90%,
    $shrink: 1
  );
}
