.wrapper {
  // @include mixins.flexbox($display: flex, $grow: 1);
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

// HERO SECTION
.mainSection {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 1;
}
