@use "../../../styles//variables.scss";
@use "../../../styles//mixins.scss";

// Default type button

.default {
  margin: 0.7rem 0rem;
  background-color: variables.$green;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Login type button

.login {
  margin: 0.7rem 0rem;
  background-color: variables.$golden;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Google type button

.google {
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  padding: 1rem;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  margin: 0.7rem 0rem;
  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  }
}

.buyButton{
  margin: 0.7rem 1rem;
  background-color: #C18E60;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 13px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
  width: 104px;
  height: 37px;
  left: 998px;
  top: 42px;

  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

}

.portfolioButton{
  margin: 0.7rem 1rem;
  background-color: #D5E3E1;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 13px;
  color: #37433A;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }
  width: 104px;
  height: 37px;
  left: 998px;
  top: 42px;

  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

}
