@use "../../../styles//variables.scss";
@use "../../../styles//mixins.scss";

// Default type button

.default {
  margin: 0.7rem 0rem;
  background-color: variables.$green;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Login type button

.login {
  margin: 0.7rem 0rem;
  background-color: variables.$golden;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Google type button

.google {
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  padding: 1rem;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  margin: 0.7rem 0rem;
  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  }
  @include mixins.breakpoint-down(large) {
    font-size: 1.2rem;
  }
}

// Buy type button

.buyButton {
  margin: 0rem 1rem;
  background-color: #c18e60;
  padding: 1rem 2rem;
  font-size: 24px;
  min-width: 14rem;
  font-weight: variables.$font-medium;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Buy box type button

.buyBoxButton {
  background-color: #37433a;
  padding: 1.2rem 2rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Sell type button

.sellButton {
  background-color: #e1c5c1;
  padding: 1.2rem 2rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #ae2424;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Portfolio type button

.portfolioButton {
  margin: 0rem 1rem;
  background-color: #d5e3e1;
  padding: 1rem 2rem;
  min-width: 14rem;
  font-size: 24px;
  font-weight: variables.$font-medium;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.45);
    svg {
      path {
        fill: red;
      }
    }
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Notifications type button

.notificationButton {
  position: relative;
  max-width: 3.75rem;
  width: 100%;
  background-color: variables.$primary-color;
  padding: 1rem;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }

  img {
    max-width: 1.3rem;
    width: 100%;
    max-height: 41px;
  }
}

// Tools type button

.toolsButton {
  margin: 0.7rem 1rem;
  padding: 1rem 3rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  background: #d5e3e1;
  border-radius: 25px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }

  width: 167px;
  height: 69px;
  left: 481px;
  top: 498px;

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Profile type button

.profileButton {
  max-width: 3.75rem;
  width: 100%;
  background-color: variables.$primary-color;
  padding: 1rem;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }

  img {
    max-width: 1.3rem;
    width: 100%;
    max-height: 41px;
  }
}

// Settings type button

.timeBarButton {
  margin: 0.1rem 0.2rem;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  padding: 0.5rem 1.2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #37433a;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.17);
  background: #ffffff;
  border-radius: 25px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
    border-radius: 25px;
  }
}

.settingsButton {
  padding: 1rem 3rem;
  background: #d5e3e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;
  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }
}
@use "../../../styles//variables.scss";
@use "../../../styles//mixins.scss";

// Default type button

.default {
  margin: 0.7rem 0rem;
  background-color: variables.$green;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Login type button

.login {
  margin: 0.7rem 0rem;
  background-color: variables.$golden;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }
}

// Google type button

.google {
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: variables.$font-regular;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  padding: 1rem;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  margin: 0.7rem 0rem;
  @include mixins.breakpoint-down(large) {
    font-size: 1.2rem;
  }
  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  }
}

// Buy type button

.buyButton {
  margin: 0rem 1rem;
  background-color: #c18e60;
  padding: 1rem 2rem;
  font-size: 24px;
  min-width: 14rem;
  font-weight: variables.$font-medium;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Buy box type button

.buyBoxButton {
  background-color: #37433a;
  padding: 1.2rem 2rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Sell type button

.sellButton {
  background-color: #e1c5c1;
  padding: 1.2rem 2rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #ae2424;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$secondary-color;
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Portfolio type button

.portfolioButton {
  margin: 0rem 1rem;
  background-color: #d5e3e1;
  padding: 1rem 2rem;
  min-width: 14rem;
  font-size: 24px;
  font-weight: variables.$font-medium;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 25px;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.45);
    svg {
      path {
        fill: red;
      }
    }
  }

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }
}

// Notifications type button

.notificationButton {
  position: relative;
  max-width: 3.75rem;
  width: 100%;
  background-color: variables.$primary-color;
  padding: 1rem;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    max-width: 1.3rem;
    width: 100%;
    // max-height: 41px;
  }
}

// Tools type button

.toolsButton {
  margin: 0.7rem 1rem;
  padding: 1rem 3rem;
  font-size: 24px;
  font-weight: variables.$font-regular;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  background: #d5e3e1;
  border-radius: 25px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }

  width: 167px;
  height: 69px;
  left: 481px;
  top: 498px;

  img {
    max-width: 41.79px;
    max-height: 40.25px;
    margin-right: 0.5rem;
  }

  width: 167px;
  height: 69px;
  left: 481px;
  top: 498px;

  .timeBarBG {
    background-color: red;
  }
}

.timeBarButton {
  margin: 0.1rem 0.2rem;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  padding: 0.5rem 1.2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #37433a;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.17);
  background: #ffffff;
  border-radius: 25px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
    border-radius: 25px;
  }
}

// Profile type button

.profileButton {
  max-width: 3.75rem;
  width: 100%;
  background-color: variables.$primary-color;
  padding: 1rem;
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center,
    $grow: 1
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  color: #37433a;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }

  img {
    max-width: 1.3rem;
    width: 100%;
    max-height: 41px;
  }
}

.settingsButton {
  padding: 1rem 3rem;
  background: #d5e3e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;
  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &:hover {
    background-color: variables.$secondary-color;
    color: #fff;
  }
}
