@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.sortSection {
  display: flex;
  align-items: center;
  flex: 10%;
  gap: 1rem;
}

.stocksSection {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 90%;
  margin-top: 1rem;
  gap: 2rem;
}

.rotated {
  transform: rotate(180deg);
}

button {
  transition: all 0.03s ease-in-out;
}

.buttonText {
  transition: color 0.03s ease-in-out;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
