@use "../../../styles//variables.scss";
@use "../../../styles/mixins.scss";

.container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.412);
  z-index: 10;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &.dark-mode {
    background-color: rgba(104, 42, 42, 0.412);
  }
}

.popup {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 80%;
  min-height: 80%;
  width: 100%;
  background-color: #fbf2ea;
  @include mixins.boxShadow();
  border-radius: 25px;
  padding: 4rem;
  &.dark-mode {
    background-color: #68472a;
  }
}
.sellStock {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 45%;
  min-height: 45%;
  width: 100%;
  background-color: variables.$primary-color;
  @include mixins.boxShadow();
  border-radius: 25px;
  padding: 4rem;
  &.dark-mode {
    background-color: #5c807b;
  }
}

.closePopupButtonSellStock {
  position: absolute;
  background: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  top: 2%;
  right: 1%;
  color: variables.$secondary-color;
  border-radius: 50%;
  font-weight: variables.$font-bold;
  transition: 0.3s ease-in-out;
  &:hover {
    width: 0.7rem;
    height: 0.7rem;
    background-color: variables.$golden;
    color: variables.$secondary-color;
  }
}

.closePopupButton {
  position: absolute;
  background: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  top: 2%;
  right: 1%;
  color: variables.$secondary-color;
  border-radius: 50%;
  font-weight: variables.$font-bold;
  transition: 0.3s ease-in-out;
  &:hover {
    width: 1rem;
    height: 1rem;
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
  }
}

.closePopupButtonFunds {
  position: absolute;
  background: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  top: 2%;
  right: 1%;
  color: #fff;
  border-radius: 50%;
  font-weight: variables.$font-bold;
  transition: 0.3s ease-in-out;
  &:hover {
    width: 1rem;
    height: 1rem;
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
  }
}

.popUpFunds {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 80%;
  width: 100%;
  height: 80%;
  // background-color: #fbf2ea;
  // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
  // border-radius: 25px;
  // padding: 4rem;
}
