@use "../../../styles/mixins.scss";
@use "../../../styles//variables.scss";

.logo {
    display: flex;
    margin-left: 104px;
    //margin: 0 auto;
    width: calc(100% - 13rem);

    .stockCloseButton {
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;

        background: #aaaaaa;
        border-radius: 35px;
        //outline: 1.5px solid black;
        //box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.15);
        margin-left: calc(100% - 11rem);
        margin-top: 1rem;
        padding: 15px 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;

        &:hover {
            background-color: #cecece;
            outline: 1.5px solid rgb(87, 87, 87);
            transition: 0.15s ease-in-out;
        }

    }
}

.image { //Bull in the background
    position: absolute;
    width: 65rem;
    margin-left: -65px;
    opacity: calc(4%);
    background-size: cover;
    height: 55rem;
    background-image: url(../../../assets/bull.png);
    background-repeat: no-repeat;
    pointer-events: none
    }

.headerSection { //Contains featured bar, navigation bar
    //display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 100px;
    margin: 0 auto;
    width: calc(100% - 13em);

    .settingsNavBar { 
        display: flex;
        //margin-right: 25px;
        margin-bottom: 40px;
        gap: 25px;
        width: 100%;
        background-color: transparent;
    }
    .featured {
        font-weight: bold;
        font-size: 20px;
        margin: 1rem 0rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #d5e3e1;
    height: 100vh;

    button[id="mainSaveChanges"] //Save Changes button that exists on all tabs
    { 
        margin-top: -5.5rem;
        margin-left: 8.5rem;
    }    
    
    .logoutButton { //Logout button
    display: flex;
    position: relative;    
    font-size: 2rem;
    font-weight: bold;
    color: variables.$secondary-color;
    margin-left: 40px;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 25px;
    width: 9.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    img {
        width: 2.5rem;
    }

    &:hover {
        background-color: #fff;
        border-radius: 15px;
    }
    }
}

.settings { //Modifies the container when Settings is active
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.notifications, .accountInfo { //Modifies the container when Notifications/Account Info is active
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.notifications { //Modifies certain elements when Notifications is active

    input[type=text], select //Modifies input boxes in the Notifications tab
    { 
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    h2 { //Modifies the subtext options in the notifications tab
    text-indent: 5rem;  
    }

}


.settingsContainer //The settings box where the options are displayed
{ 
    display: wrap;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
    box-shadow:5px rgb(0, 0, 0);
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    //margin-left: 100px;
    padding-top: 25px;
    width: calc(100% - 13rem);
    height: 35rem;
    margin: 0 auto;

    h1 { //Modifies settings options text
        display: flex;
        font-weight: bold;
        font-size: 26px;
        font-family: Arial;
    }

    h2 { //Modifies settings options subtext
        display: flex;
        font-weight: 200;
        font-size: 24px;
        font-family: Arial;
    }   

    button[id="delete"] { //Changes Delete Account font color red
        color: red;
    }
}

.accountInfo { //Modifies the account settings options
    display: flex;
    flex-direction: row;
    //width: 100%;
    //min-width: 100%;
    //gap: 2rem;

    h1 { //Modifies the h1 text in the accountInfo class
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    input[type=text] //Modifies input boxes
    {   
        display: inline-block;
        max-width: 105%;
        padding: 18px 20px;
        margin-bottom: 28px;
        border: 1px solid #32543A;
        border-radius: 20px;
        box-sizing: border-box;
    }
 }

.changePass{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changeName{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.del{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 770px) 
{ //Adds scrollbar when window screen is at a certain amount
    .accountInfo, .settingsNavBar {
        overflow: auto;
    }
}


.settingsNavLink {
    display: flex;
    flex: 33%;
    align-items: center;
    gap: 2rem;
    
    hr{
        width: 100%;
        min-width: 80px;
        max-width: 285px;
        height: 1px;
        background-color: #37433A;
    }
}

//SCSS for Toggle Slider
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}
input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
label {
    display: inline-block;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}
label:hover {
    background-color: variables.$primary-color;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #ffe0c5;
    outline: 4px solid #ebb485;
}

.amountContainer {
    display: flex;
}

.switchLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 65px;
    height: 36px;
    background: variables.$secondary-color;
    border: 3px solid #fff;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchLabel:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + .switchLabel {
    background-color: variables.$golden;
    transition: 0.3s ease-in-out;
  }
  
  input:checked + .switchLabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  } //end toggle scss