@use "../../../styles//variables.scss";
@use "../../../styles//mixins.scss";
.container {
  // position: relative;
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  background-color: #d5e3e1;
  height: 100vh;
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0);

  @include mixins.breakpoint-down(medium) {
    display: none;
  }

  &.dark-mode {
    background-color: #3A514E;
    img {
      filter: invert(1) contrast(200%) saturate(0);
    }
  }
}
.toggle {
  position: absolute;
  top: 3%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  img {
    max-height: 1rem;
    transform: rotate(180deg);
  }
  &:hover {
    background-color: variables.$golden;
  }
}

.containerHidden {
  min-width: 3rem;
  position: relative;
  background-color: #d5e3e1;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  @include mixins.breakpoint-down(medium) {
    display: none;
  }
  &.dark-mode {
    background-color: #3A514E;
    img {
      filter: invert(1) contrast(200%) saturate(0);
    }
  }

  .toggle {
    position: relative;
    top: 5%;
    left: 0;
  }
}
