@use "../../../styles//variables.scss";
@use "../../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: variables.$secondary-color;
}

.notificationsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}
.greetingTitle,
.subTitle {
  font-size: 2.25rem;
  font-weight: variables.$font-medium;
  &.dark-mode {
    color: white;
  }
}

.subTitle {
  font-size: 2rem;
  margin: 2rem 0rem;
}

.date {
  font-weight: variables.$font-bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.notificationsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notificationContainer {
  display: flex;
  flex-direction: column;
}
.notificationListItem {
  padding: 1.5rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #000;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: variables.$primary-color;
  }
}
