@use "../../../styles//variables.scss";
@use "../../../styles/mixins.scss";
.input {
  padding: 2rem 2rem 1rem 0rem;
  margin: 1rem 0rem;
  border-bottom: 1px solid variables.$default;
  background: none;
  font-size: 1.25rem;
  color: #32543a;
  &::placeholder {
    font-size: 1.125rem;
    color: #32543a;
    font-weight: variables.$font-medium;
  }
  @include mixins.breakpoint-down(large) {
    padding: 1rem 2rem 1rem 0rem;
  }
  @include mixins.breakpoint-down(medium) {
    background-color: #fff;
    border-radius: 15px;
    border: none;
    padding-left: 1.5rem;
    &::placeholder {
      font-weight: variables.$font-regular;
    }
  }
}
