@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.wrapper {
  cursor: pointer;
  flex: 10%;
  display: none;
  @include mixins.breakpoint-down(xlarge) {
    display: flex;

    justify-content: flex-end;
  }
}

.burgerMenuList {
  position: absolute;
  right: 0;
  top: 0;
  flex: 30%;
  min-width: 300px;
  height: 100vh;
  padding: 1rem;
  background-color: variables.$primary-color;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  &.dark-mode {
    background-color: #486461;
  }
  @include mixins.breakpoint-up(xxlarge) {
    display: none;
  }
  @include mixins.breakpoint-down(medium) {
    min-width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  h4 {
    font-size: 2rem;
  }
  img {
    width: 5rem;
  }
  gap: 1rem;
}

.closeBtn {
  display: block;
  background: none;
  position: absolute;
  right: 7%;
  top: 2%;
  color: variables.$secondary-color;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  &:hover {
    color: variables.$golden;
  }
}

.cta {
  display: flex;
  flex-shrink: 1;
  gap: 1rem;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  gap: 2rem;
  justify-content: flex-end;
  .notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: variables.$golden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
  }
  .profileCta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.profileMenu {
  left: -20rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  top: 2.6%;
  width: 15rem;
  max-height: 13rem;
  cursor: pointer;
  background-color: variables.$primary-color;
  border-radius: 25px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h4 {
      color: variables.$secondary-color;
      font-size: 1.5rem;
      font-weight: variables.$font-bold;
    }
  }

  .profileCta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
