@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    min-height: 80px;

    width: 400px;
    padding: 0.1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 25px 25px 0 0;
    background-color: variables.$light-yellow;
}

.tabButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background-color: variables.$primary-color;
    color: variables.$secondary-color;
    font-weight: 600;
    font-size: 1.3rem;
    
    padding: 0.7rem;
    max-width: 150px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
  
    &:hover {
      background-color: variables.$secondary-color;
      color: variables.$primary-color;
    }
}

.tanSquare {
    display: flex;
    flex: 1;
    min-width: 400px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0 25px 25px 25px;
    background-color: variables.$light-yellow;
    padding: 20px;
    

}

.details {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex: 1;
    padding-left: 30px;
}



.totalPortfolio {
    display: flex;
    flex-direction: column;
    margin: 20px 0 60px 0;
}

.totalPortfolioTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: variables.$secondary-color;
    margin-bottom: 20px;
}

.totalPortfolioValue {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}


.sectionTitle {
    font-weight: 700;
    font-size: 2rem;
    color: variables.$secondary-color;
    margin-bottom: 30px;
    flex: 1 1 50%;
}

.sectionPercent {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    flex: 1 1 25%;
    color: #32543A;
}

.sectionValue {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    flex: 1 1 25%;
}

#stockValue{
    color: variables.$golden;
}

#buyingPowerValue{
    color: #2AB795;
}

.stocks {
    display: flex;
    justify-content: space-between;

}

.buyingPower {
    display: flex;
    justify-content: space-between;
}

.doughnutGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.overviewLine {
    border-top: 1px solid #000;
    width: 90%; 
    margin-bottom: 60px;
}




.stocksLine {
    border-top: 1px solid #000;
    margin: 20px 30px;
}


.stocksTitleBar {
    display: flex;
    flex: 1;
    align-items: center;

    margin: 20px 30px 0 30px;
    padding: 0 20px;
}

.title {
    flex: 1 1 14.3%;
}

