// WRAPPER SECTION

@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

// WRAPPER SECTION

.wrapper {
    display: flex;
    flex-grow: 1;
}

.mainSection {
    display: flex;
    flex-direction: column;

    // Fix for the graph not resizing correctly
    // Using flex-grow here won't work. 400px is the size of the sidebar.
    width: calc(100% - 400px);

}

.tanSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    background-color: #FBF2EA;

}

.valueText {
    margin-top: 80px;
    margin-left: 48px;
    font-weight: 700;
    font-size: 32px;
}

.dollarAmount {
    margin-top: 50px;
    margin-left: 52px;
    font-weight: 400;
    font-size: 32px;
}

.stocksOptions {
    margin-top: 50px;
    margin-left: 52px;
    font-weight: 900;
    font-size: 54px;
}

.stocksOptions .wordSpace {
    padding-left: 12%;
    word-spacing: 24px;


}

.stocksOptions .moneyAmount {
    margin-left: 190px;
}

.line {
    border: none;
    border-top: 1px solid black;
    margin: 36px 0;
    width: 68%;
}

.profileLowerSection {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.stocksOptions .moneyColorGreen {
    margin-left: 200px;
    color: #2AB795;
}

.moneyColorTan {
    margin-left: 232px;
    color: #C18E60;
}

.pls {
    display: flex;
    font-size: 32px;
    width: 500px;
    justify-content: center;

}

.tanSquare .doughnutGraph {
    padding-left: 20px;
}
