@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.buttonContainer {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1rem;
  background: #d5e3e1;
  border-radius: 1.563rem;
  gap: 1rem;
}

.stockSymbol {
  flex: 20%;
}
.stockValue {
  flex: 20%;
}
.stockInfoAccordion {
  flex: 40%;
}

.buyStock {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
}
