@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  background-color: #fff;
  color: variables.$secondary-color;
  margin: 2rem 0rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  max-width: 326px;
  width: 100%;
  border-radius: 25px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  
  &.dark-mode {
    color: #fff;
    background-color: #2A2C2E;
  }
}
