.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.paginationButton {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #37433A;
    border-color: #eee;
    background-color: #D5E3E1;
    &.dark-mode {
        color: #eefffd;
        background-color: #37433A;
    }
}

.paginationSeparator {
    padding-top: 1.5rem;
    color: #000;
    font-weight: bold;
    &.dark-mode{
        color: #fff;
        font-weight: bold;
    }
}

/* .pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
} */

.pagination button:hover {
    color: #D5E3E1;
    background-color: #37433A;
}

/* .pagination button:active {
    color: #D5E3E1;
    background-color: #37433A;
} */