@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.wrapper {
  display: flex;
}

.mainSection {
  // @include mixins.flexbox(
  //   $display: flex,
  //   $direction: column,
  //   $grow: 1,
  //   $shrink: 1
  // );
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.stockNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0rem;
  flex: 10%;
}

.stockPrice {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    font-size: 18px;
    color: #2ab795;
  }
}

.stockName {
  font-size: 36px;
  font-weight: variables.$font-bold;
}

.preview {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 1rem 0rem;
  gap: 2rem;
  flex: 80%;
}
.graph {
  display: flex;
  flex: 60%;
}

.buybox {
  display: flex;
  flex: 40%;
}

.filter {
  // @include mixins.flexbox(
  //   $display: flex,
  //   $gap: 1rem,
  //   $justifyContent: space-evenly,
  //   $wrap: wrap,
  //   $flex-basis: 10%
  // );
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 10%;

  margin-top: 10px;
}
