@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

.transactionItem {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  padding: 1.125rem;
  background-color: rgb(111, 133, 126);
  border-radius: 25px;
  width: 100%;
  color: #000;
  gap: 1rem;
  transition: 0.3s ease-in-out;
  &.dark-mode {
    background-color: #5C807B;
   color: #fff;
  }
  &:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.45);
  }
  &.dark-mode:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.45);
  }
}

.stockName,
.stockPrice,
.stockInfo {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  &.dark-mode {
    background-color: #37433A;
  }
}

.stockName,
.stockPrice {
  // @include mixins.flexbox(
  //   $display: flex,
  //   $grow: 0,
  //   $flex-basis: 15%,
  //   $shrink: 1,
  //   $justifyContent: center
  // );
  display: flex;
  flex-grow: 0;
  flex-basis: 15%;
  flex-shrink: 1;
  justify-content: center;
}

.stockInfo {
  // @include mixins.flexbox(
  //   $display: flex,
  //   $grow: 1,
  //   $flex-basis: 60%,
  //   $shrink: 1
  // );
  display: flex;
  flex-grow: 1;
  flex-basis: 60%;
  flex-shrink: 1;
}
