@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

// FEATURED SECTION
.featured {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto; 
  min-height: 250px;
  background-color: variables.$light-yellow;
  border-radius: 25px;
  padding: 1.4rem;
  &.dark-mode {
    background-color: #633F20;
  }
}

// FILTER SECTION

.filter {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-basis: 10%;
}

// GRAPH SECTION

.graph {
  display: flex;
  flex-grow: 1;
  min-height: 400px;
  min-width: 350px;
}
