@use "../../../styles/mixins.scss";
@use "../../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.item {
  display: flex;
  align-items: center;
  width: 10%;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000;
}

.stockList {
  display: flex;
  align-items: center;
  margin: 0 40px;

  background: #d9d9d9;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
  color: #000;
  &.dark-mode {
    background-color: #774040;
  }
}

.sellBtn,
.openBtn {
  background-color: rgba(50, 84, 58, 0.35);
  border-radius: 25px;
  color: variables.$secondary-color;
  font-weight: variables.$font-medium;
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    background-color: variables.$secondary-color;
  }
  &.dark-mode {
    color: #ffffff59;
    background-color: rgba(255, 225, 197, 0.247);
    &:hover {
      color: #000000;
      background-color: rgba(255, 255, 255, 0.562);
    }
  }
}

.openBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.7rem;
  img {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.rotated {
  transform: rotate(180deg);
}

/* Accordion item header styles */
.accordion-header {
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

/* Active accordion item header styles */
.accordion-header.active {
  background-color: #e9e9e9;
}

/* Accordion item content styles */
.accordion-content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none; /* Hide content by default */
}

/* Active accordion item content styles */
.accordion-content.active {
  display: block; /* Show content when active */
}

.sellStockPopup {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 80%;
  min-height: 80%;
  width: 100%;
  background-color: #fbf2ea;
  @include mixins.boxShadow();
  border-radius: 25px;
  padding: 4rem;
}