@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  min-height: 9.6375rem;
  padding: 1rem 2rem;

  @include mixins.flexbox(
    $display: flex,
    $alignItems: center,
    $justifyContent: space-between
  );
}

.search {
  input {
    width: 100%;
    padding: 1.3rem;
    border-radius: 25px;
    border: 1px solid variables.$secondary-color;
  }
  @include mixins.flexbox($display: flex, $flex-basis: 30%);
}

.cta {
  @include mixins.flexbox($display: flex, $flex-basis: 30%);
}

.profile {
  @include mixins.flexbox($display: flex, $flex-basis: 30%);
}
