@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 25px;
  padding: 20px;
  background-color: variables.$light-yellow;
  &.dark-mode {
    background-color: #111111;
  }
}
