@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  padding: 1.5rem 2rem;
  padding-top: 0rem;
  overflow-y: auto;
  // height: calc(100vh - 9rem);
  @include mixins.flexbox(
    $display: flex,
    $direction: column,
    $grow: 1,
    $flex-basis: 90%
  );
}
